<Template name="start">
	<div>
		Welcome, traveler!
		<form id='nameForm'>
			<div>
				<label for="name">Please enter your name:</label>
				<input type="text" id="name" name="name"/>
				<div>
					<button id="hit_btn">Hit!</button>
				</div>
				<div id="press_me">
					PRESS ME!!!
				</div>
			</div>
		</form>
	</div>
</Template>